html
    head
        style
            include style.css
    body
        h1(id="top") Welcome to Online Pharmacy
        div(id="login")
            a(class="head" href="/login") Login
            p(style="height:4vw;")
            a(class="head" href="/signup") Signup
            p(style="height:4vw;")
            a(class="head" href="/admin") Login for Admin